/* Es necesario para tener los estilos de Tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::after,
*::before {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

@media (width <= 430px) {
	.slider_1 {
		background-image: url('../assets/slider_1_mobile.png');
		background-size: 100% 100%;
	}
}
@media (width > 430px) {
	.slider_1 {
		background-image: url('../assets/slider_1.jpg');
		background-size: 100% 100%;
	}
}
